/* Основные стили */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    max-width: 1920px;
    margin: 0px auto;
    font-family: Arial;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #010101;
    overflow: hidden;
}
.wrapper {
    max-width: 1585px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}
                                /* Шапка */
.navbar {
    background-color: #1D1D1D;
}
.navigationsButtons {
    width: 117px;
    justify-content: space-around;
    margin-right: 10px;
    display: none !important;
}
.navigationsButtons a {
    display: flex;
    align-items: center;
}
.navigationsButtons a:nth-of-type(2) {
    border-left: 1.5px solid #3E3E3E;
    border-right: 1.5px solid #3E3E3E;
    padding-left: 7px;
    padding-right: 7px;
}
.navigationsButtons .mapPosition img {
    width: 24px;
    height: 24px;
}
.navbar-toggler {
    outline: none !important;
    border: none;
    padding: 0px;
}
                                /* Анимация бургера */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    stroke: #FFFFFF;
    stroke-width: 4;
    stroke-linecap: round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
.navbar .navbar-collapse {
    background-color: #1D1D1D;
}
.dropdown-menu {
    background-color: #1D1D1D !important;
}
.dropdown-item:hover {
    background-color: #1D1D1D !important;
    color: rgba(255,255,255,.5) !important;
}
.dropdown-item:active {
    color: rgba(255,255,255,.5) !important;
}
.navbar .navbar-collapse .navbar-nav .listElement7 {
    padding-top: 3px;
}
.navbar .navbar-collapse .navbar-nav .listElement8 {
    padding-top: 3px;
}
.navbar .navbar-collapse .navbar-nav .listElement9 {
    padding-top: 3px;
}
.dropdown-menu {
    background-color:#0d0d0d;
    border-top: none;
}
.nav-item:not(:first-of-type) {
    border-left: 1.5px solid #3E3E3E;
}
.listElement1 {
    padding-left: 17px;
    padding-right: 17px;
}
.listElement2 {
    padding-left: 17px;
    padding-right: 17px;
}
.listElement3 {
    padding-left: 17px;
    padding-right: 17px;
}
.listElement4 {
    padding-left: 17px;
    padding-right: 17px;
}
.listElement5 {
    padding-left: 17px;
    padding-right: 17px;
}
.nav-link {
    color: #FFFFFF !important;
}
.nav-link:hover {
    color: rgba(255,255,255,.5) !important;
}
.dropdown .dropdown-menu {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    display: block;
    height: 0px;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
    visibility: visible;
    height: auto;
}
                                /* 1 секция. Раздел продукции */
.sectionOne_page6 {
    width: 100%;
    display: block;
}
.sectionOne_page6 .contentFirstSection_page6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
    /* Хлебные крошки */
.sectionOne_page6 .contentFirstSection_page6 .contentBreadcrum_page6 {
    width: 100%;
    min-height: 54px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
/* Общие стили ссылок */
.sectionOne_page6 .contentFirstSection_page6 .contentBreadcrum_page6 li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: inline-block;
    text-align: none;
    text-decoration: none;
    margin-right: 20px;
    color: #BDBDBD;
}
.sectionOne_page6 .contentFirstSection_page6 .contentBreadcrum_page6 li:last-of-type a {
    color: #0A0A0A;
}
.sectionOne_page6 .contentFirstSection_page6 .contentBreadcrum_page6 li:not(:last-of-type) a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/firstSection_page6/breadcrumRightArrow_page6.svg');
    background-position: center;
    background-repeat: no-repeat;
}
                            /* 1 секция. Контент. Сотрудничество дизайнеры */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 80px;
}
                        /* 1 часть контента */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 {
    width: 100%;
    min-height: 328px;
    display: flex;
    flex-direction: column;
}
        /* Верхняя секция */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Img_page6 {
    width: 100%;
    height: 240px;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Img_page6:hover > img {
    transition: transform 1.9s ease-in-out;
    transform: scale(1.5);
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Img_page6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.9s ease-in-out;
}
    /* Ссылки */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1ImgLinks_page6 {
    width: 100%;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 74px;
}
/* 1 ссылка */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1ImgLinks_page6 a:first-of-type {
    width: 100%;
    display: inline-block;
    font-size: 64px;
    line-height: 74px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
/* 2 ссылка */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1ImgLinks_page6 a:last-of-type {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1ImgLinks_page6 a:last-of-type::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: 1px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/firstSection_page6/arrowLink_page6.svg');
}
            /* Нижняя секция */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Menu_page6 {
    width: 100%;
    min-height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}
/* Нижняя секция. Текст */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Menu_page6 .contentSection1MenuText_page6 {
    width: 100%;
    min-height: 28px;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    color: #0A0A0A;
    font-weight: bold;
}
/* Нижняя секция. Кнопка "читать" */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Menu_page6 .contentSection1MenuBtn_page6 {
    width: 128px;
    height: 40px;
    display: inline-block;
    background-color: #0A0A0A;
    margin-left: 20px;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection1_page6 .contentSection1Menu_page6 .contentSection1MenuBtn_page6 a {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
}
                        /* 2 часть контента */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 {
    width: 100%;
    min-height: 405px;
    display: flex;
    flex-direction: column;
}
        /* Верхняя секция */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Menu_page6 {
    width: 100%;
    min-height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 70px;
}
/* Нижняя секция. Текст */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Menu_page6 .contentSection2MenuText_page6 {
    width: 100%;
    min-height: 28px;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    color: #0A0A0A;
    font-weight: bold;
}
/* Нижняя секция. Кнопка "читать" */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Menu_page6 .contentSection2MenuBtn_page6 {
    width: 128px;
    height: 40px;
    display: inline-block;
    background-color: #0A0A0A;
    margin-left: 20px;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Menu_page6 .contentSection2MenuBtn_page6 a {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
}
        /* Нижняя секция */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Img_page6 {
    width: 100%;
    height: 240px;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Img_page6:hover > img {
    transition: transform 1.9s ease-in-out;
    transform: scale(1.5);
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2Img_page6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.9s ease-in-out;
}
    /* Ссылки */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2ImgLinks_page6 {
    width: 100%;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 74px;
}
/* 1 ссылка */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2ImgLinks_page6 a:first-of-type {
    width: 100%;
    display: inline-block;
    font-size: 64px;
    line-height: 74px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
/* 2 ссылка */
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2ImgLinks_page6 a:last-of-type {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.sectionOne_page6 .contentFirstSection_page6 .wrapper .contentSection_page6 .contentSection2_page6 .contentSection2ImgLinks_page6 a:last-of-type::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: 1px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/firstSection_page6/arrowLink_page6.svg');
}
                                /* Подвал */
footer {
    width: 100%;
    height: 466px;
    display: block;
    position: relative;
    background-color: #1D1D1D;
}
footer .footerMenu {
    width: 100%;
    height: 466px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 53px;
    padding-top: 60px;
    background-color: inherit;
}
/* 1 раздел подвала */
footer .footerMenu .footerMenu1 {
    width: 440px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu1 .footerMenu1_headline {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 28px;
    color: #BDBDBD;
}
footer .footerMenu .footerMenu1 .footerMenu1_list {
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu1 .footerMenu1_list li {
    width: 100%;
    height: 24px;
}
footer .footerMenu .footerMenu1 .footerMenu1_list li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
    width: 100%;
    text-decoration: none;
}
footer .footerMenu .footerMenu1 .footerMenu1_list li a:hover {
    color: #D5B36A;
}
footer .footerMenu .footerMenu1 .footerMenu1_list li a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/footer/leftArrowFooter.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}
/* 2 раздел подвала */
footer .footerMenu .footerMenu2 {
    width: 440px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu2 .footerMenu2_headline {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 28px;
    color: #BDBDBD;
}
footer .footerMenu .footerMenu2 .footerMenu2_list {
    width: 100%;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu2 .footerMenu2_list li {
    width: 100%;
    height: 24px;
}
footer .footerMenu .footerMenu2 .footerMenu2_list li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
    width: 100%;
    text-decoration: none;
}
footer .footerMenu .footerMenu2 .footerMenu2_list li a:hover {
    color: #D5B36A;
}
footer .footerMenu .footerMenu2 .footerMenu2_list li a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/footer/leftArrowFooter.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}
/* 3 раздел подвала */
footer .footerMenu .footerMenu3 {
    width: 440px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu3 .footerMenu3_headline {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 28px;
    color: #BDBDBD;
}
footer .footerMenu .footerMenu3 .footerMenu3_list {
    width: 100%;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenu3 .footerMenu3_list li {
    width: 100%;
    height: 24px;
}
footer .footerMenu .footerMenu3 .footerMenu3_list li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
    width: 100%;
    text-decoration: none;
}
footer .footerMenu .footerMenu3 .footerMenu3_list li a:hover {
    color: #D5B36A;
}
footer .footerMenu .footerMenu3 .footerMenu3_list li a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url('/./Сотрудничество дизайнеры 3/img/svg/footer/leftArrowFooter.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}
/* 4 раздел меню */
footer .footerMenu .footerMenuMap {
    width: 440px;
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footerMenu .footerMenuMap .footerMenuMap_headline {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 28px;
    color: #BDBDBD;
    display: inline-block;
}
footer .footerMenu .footerMenuMap .footerMap {
    width: 100%;
    height: 270px;
    display: inline-block;
}
footer .footerMenu .footerMenuMap .footerMap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
        /* Дополнительная информация подвала */
footer .footerAdditionalInf {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    bottom: 20px;
}
    /* Ссылки подвала */
footer .footerAdditionalInf .footerLinks {
    height: 15px;
    width: 67px;
    display: flex;
    justify-content: space-between;
}
/* Facebook */
footer .footerAdditionalInf .footerLinks .footerFacebookLink {
    width: 15px;
    height: 15px;
    display: inline-block;
}
/* Youtube */
footer .footerAdditionalInf .footerLinks .footerYoutubeLink {
    width: 15px;
    height: 15px;
    display: inline-block;
}
/* Instagram */
footer .footerAdditionalInf .footerLinks .footerInstaLink {
    width: 15px;
    height: 15px;
    display: inline-block;
}
/* Авторское право */
footer .footerAdditionalInf .footerCopyright {
    height: 15px;
    width: 114px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: inline-block;
}
.dropdown-menu.collapsing {
    display: block;
}